body {
  background-color: #f8f8f8 !important;
}

.navbar {
  background: #39aecf !important;
}

.nav-img {
  cursor: pointer;
}

.btn-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.btn-div > button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}

.email-text {
  color: #fff;
  margin: 0;
  font-size: 18px;
}

.home-wrapper {
  min-height: calc(100vh - 126px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-text {
  text-align: center;
  font-size: 32px;
}

form {
  padding: 2rem;
  background-color: #39aecf;
  width: 600px;
  display: block;
  margin: 2rem auto;
  border-radius: 5px;
}

@media (max-width: 767.98px) {
  form {
    width: 100%;
  }
}

.form-label {
  color: #fff;
}

.form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  margin-top: 2rem;
  font-weight: 600;
}

.form-header {
  margin-top: 4rem;
  text-align: center;
  color: #39aecf;
}

.home-header {
  text-align: center;
  font-size: 32px;
}

.form-sub-text {
  color: #fff;
}

.table-btn {
  border: none;
  background-color: #39aecf;
  color: #fff;
  border-radius: 5px;
  font-size: 18px;
  padding: 5px 20px;
}

.table-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  width: 800px !important;
}

@media (max-width: 991.98px) {
  .table {
    width: 100%;
  }
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
}

.error {
  background-color: #ea5252;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
  color: #fff;
  font-weight: 600;
}
